{
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import-helpers",
    "prettier",
    "sort-destructure-keys",
    "sort-keys-fix"
  ],
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "type"
    ],
    "@typescript-eslint/member-ordering": [
      "warn",
      {
        "default": {
          "memberTypes": "never",
          "order": "alphabetically"
        }
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/sort-type-union-intersection-members": "warn",
    "import-helpers/order-imports": [
      "warn",
      {
        "alphabetize": {
          "ignoreCase": true,
          "order": "asc"
        },
        "groups": [
          "/^react/",
          "/^(@chakra|next)/",
          "module",
          "/^(api|common|components|config|contexts|features|hooks|layouts|pages|reducers|utils|theme)/",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "newlinesBetween": "always"
      }
    ],
    "react/jsx-curly-brace-presence": ["warn", "never"],
    "react/jsx-sort-props": [
      "warn",
      {
        "ignoreCase": true
      }
    ],
    "react/prop-types": "off",
    "react/self-closing-comp": "warn",
    "sort-destructure-keys/sort-destructure-keys": [
      "warn",
      {
        "caseSensitive": true
      }
    ],
    "sort-keys-fix/sort-keys-fix": "warn"
  },
  "env": {
    "jest": true
  }
}
